@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .snap-y {
        scroll-snap-type: y mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
    .smooth {
        scroll-behavior: smooth;
    }
}
